<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="./Images/AmCoot.jpg">
    <img src="AmCoot.jpg" alt="American Coot" width="600" height="400">
  </a>
  <div class="desc">American Coot</div>
</div>

<div class="gallery">
  <a target="_blank" href="./Images/2_GrnWTeal.jpg">
    <img src="2_GrnWTeal.jpg" alt="Grn Winged Teal" width="600" height="400">
  </a>
  <div class="desc">American Green-winged Teal</div>
</div>

<div class="gallery">
  <a target="_blank" href="./Images/3_Am_Wign.jpg">
    <img src="3_Am_Wign" alt="American Wigeon" width="600" height="400">
  </a>
  <div class="desc">American Wigeon</div>
</div>

<div class="gallery">
  <a target="_blank" href="./Images/4_CinnTeal.jpg">
    <img src="4_CinnTeal" alt="Blue-winged or Cinnamon Teal" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<!-- update jpgs from here -->



</body>
</html>
