<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>

  
  <script>
      var birdData = JSON.parse('{{data|tojson}}')
      console.log(birdData);
      
</script>


<body>

</body>

<script src="static/logic.js"></script>


                                                                                                                                                                                                                                                                                                                  