
<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Birds Migration</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--CSS Link-->
  <link rel="stylesheet" type="css" href="style.css">
   <link rel="stylesheet" href="https://github.com/c3js/c3/releases/latest"> 
  <!-- Load c3.css -->
  <link href="static/c3.min.css" rel="stylesheet"> <!-- ADDED GG-->
   <!-- Papa Parse -->
   <script src ="static/papaparse.min.js"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
    <body>
<script>
  var data;
 
  function handleFileSelect(evt) {
    var file = evt.target.files[0];
 
    Papa.parse("./data/birdcount.csv", {
      header: true,
      dynamicTyping: true,
      complete: function(results) {
        data = results;
      }         
    });
    console.log("Finished:", results)
  }
 
  $(document).ready(function(){
    $("#csv-file").change(handleFileSelect);
  });
</script>


<input type="file" id="csv-file" name="files"/>

<!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Load d3.js and c3.js -->
        <script src="https://d3js.org/d3.v5.min.js"></script> <!-- ADDED GG-->
        <script src="static/c3.min.js"></script> <!-- ADDED GG-->
    </body>
</html>