<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Basic Map</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" src="style.css">
</head>

<style>
  /* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}
</style>

<script>
  var regions = JSON.parse('{{regions|tojson}}')
</script>

<body></body>
  <!-- The div where we will inject our map -->
  <div id="map"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="../static/config.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="../static/mapLogic.js"></script>
</body>

</html>
